
// Dark theme
$theme-dark-text: #ffffff
$theme-dark-background: #1a1a1a
$theme-dark-link: #666
$theme-dark-link-hover: #42b983

// Light theme
$theme-light-text: #213547
$theme-light-background: #ffffff
$theme-light-link: #b7b7b7
$theme-light-link-hover: #42b983